/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */
:root {
  --gray: #f1f1f1;
  --black: #1b1b1b;
  --primary-color: #63a874;
  --primary-color-light: #a9f5bc;
  --primary-color-dark: #2d5c39;
  --complementary-color: #f4d9ee;
  --complementary-color-dark: #ce98c1;
  --accent-color: #a86367;
  --accent-color-dark: #5c2427;
}

/* BODY */
body {
  background: var(--gray);
  color: var(--black);
  font-family: Roboto, Helvetica, sans-serif;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

/* HEADER */
header {
  background: var(--primary-color);
  width: 100%;
  padding: 30px 0;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h1 {
  font-family: Nunito, Helvetica, sans-serif;
}

nav a {
  color: var(--black);
  text-decoration: none;
  padding: 0.4rem 1rem;
}

nav a:hover {
  color: var(--gray);
}

nav li {
  display: inline-block;
}

/* SCHEMES */
.schemes {
  background: white;
  width: 100%;
  border: 1px solid var(--complementary-color-dark);
  box-shadow: -4px 4px 0 var(--black);
  margin-bottom: 2rem;
}

.schemes > div > h2 {
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--complementary-color-dark);
}

/* COLORS SCHEME */
.colors {
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: Montserrat, Helvetica, sans-serif;
}

.color-div {
  width: 350px;
  height: 80px;
  margin: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  color: var(--black);
}

.color-div p {
  padding: 5px;
}

.color-green {
  background: var(--primary-color);
}
.color-green-dark {
  color: var(--gray);
  background: var(--primary-color-dark);
}
.color-green-light {
  color: var(--black);
  background: var(--primary-color-light);
}

.color-brown-red {
  color: var(--gray);
  background: var(--accent-color);
}

.color-red-dark {
  color: var(--gray);
  background: var(--accent-color-dark);
}

.color-black {
  color: var(--gray);
  background: var(--black);
}

.color-gray {
  color: var(--black);
  background: var(--gray);
}

/* FONTS SCHEME */
.fonts {
  margin: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.font-div {
  margin: 0 1.5rem 1rem 0.5rem;
}

.font-div p {
  margin: 1rem 0;
  font-size: 18px;
}

.font-montserrat {
  font-family: Montserrat, Helvetica, sans-serif;
}

.font-nunito {
  font-family: Nunito, Helvetica, sans-serif;
}

.font-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}

/* TEXTS SCHEME */
.text-div {
  padding: 0 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.text-div h1 {
  font-size: 2rem;
}

.text-div ul {
  padding-left: 30px;
}

.text-header {
  margin-bottom: 1rem;
}

/* BUTTONS SCHEME */
.buttons {
  margin: 0 0.5rem 1rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

button {
  border: none;
  background: none;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: var(--gray);
  font-size: 18px;
}

button.normal-primary {
  background: var(--accent-color);
}

button.hover-primary {
  background: var(--accent-color-dark);
}

button.normal-secondary {
  background: var(--primary-color);
}

button.hover-secondary {
  background: var(--primary-color-dark);
}

/* FOOTER */
footer {
  background: var(--primary-color-dark);
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: var(--gray);
}

footer span {
  color: var(--black);
  font-weight: 700;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    display: none;
  }
}
